<h1>Login</h1>

<%= form_with url: login_path, method: :post, local: true do |f| %>
	<div>
		<label>Username</label><br>
		<input type="text" name="username" />
	</div>
	<div style="margin-top:8px;">
		<label>Senha</label><br>
		<input type="password" name="password" />
	</div>
	<div style="margin-top:12px;">
		<button type="submit">Entrar</button>
	</div>
<% end %>
